<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
<form id="redirect" th:action="${redirectionDetails.url}" th:method="${redirectionDetails.method}"
      th:object="${redirectionDetails}">
    <table >
        <tr th:each="parameter : ${redirectionDetails.params}">
            <input type="hidden" th:name="${parameter.key}"  th:value="${parameter.value}" />
        </tr>
    </table>
</form>
</body>
<script>
    $(document).ready(function(){
        $('#redirect').submit();
    })
</script>
</html>