body{
    margin: 0body {
            overflow-x: hidden;
    
        }
    
        .App {}
    
        .contain {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .header {
            width: 100%;
            height: 90px !important;
            background-color: #c7222A;
        }
    
        .page-heading {
            padding-top: 23px;
            color: white;
        }
    
        .contain-wrapper {
            margin-left: 40px;
    
            .row {
                margin-top: 20px;
            }
        }
    
        .radio-inline {
            margin-left: 30px;
            // justify-content: center;
            // align-items: center;
            // text-align: center;
        }
    
        .container {
            margin-top: 30px;
        }
    
        .optbox {
            margin-right: 10px;
        }
    
        .root-container {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .text_area {
            width: 100%;
            height: 400px;
        }
    
        // .accordion-button:focus {
        //     border-color: #fb5436 !important;
        // }
    
        // .accordion-button:not(.collapsed) {
        //     color: white !important;
        // };
}

.contain {
    // margin-left: 165px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}


.header {
    width: 100%;
    height: 90px;
    background-color: #c7222A;

    .logo {
        padding-top: 23px;
        margin-left: 100px;
    }
}

.page-heading {
    padding-top: 23px;
    margin-right: 50px;
    color: white;
}